@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .page-container {
    @apply min-h-screen bg-gradient-to-b from-teal-200 to-white m-0 p-0;
  }

  /* bg-cover bg-center bg-[#edf9fe] p-10 pt-2 min-h-screen; */

  .careercompass-bg {
    @apply bg-teal-500;
  }
  .careercompass-border {
    @apply border-teal-500;
  }
  .careercompass-text {
    @apply text-teal-500;
  }
}

@layer components {
  .careercompass-bg {
    @apply bg-teal-500;
  }
  .careercompass-border {
    @apply border-teal-500;
  }
  .careercompass-text {
    @apply text-teal-500;
  }
}

@layer utilities {
  .careercompass-bg {
    @apply bg-teal-500;
  }
  .careercompass-border {
    @apply border-teal-500;
  }
  .careercompass-text {
    @apply text-teal-500;
  }
}
/* src/index.css */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}
